---
import { Image } from 'astro:assets';
import galleri1 from '../../assets/images/galleri1.webp'
import galleri2 from '../../assets/images/galleri2.webp'
import galleri3 from '../../assets/images/galleri3.webp'
import galleri4 from '../../assets/images/galleri4.webp'
import galleri5 from '../../assets/images/galleri5.webp'
import galleri6 from '../../assets/images/galleri6.webp'
import galleri7 from '../../assets/images/galleri7.webp'
import galleri8 from '../../assets/images/galleri8.webp'
import galleri9 from '../../assets/images/galleri9.webp'
import galleri10 from '../../assets/images/galleri10.webp'

---
<section class="py-20 md:px-32">
<h2 class="galleri2 text-center md:text-left text-40 md:text-50 font-WindstoneSerif text-blue-500 mb-8">Få et indblik i vores univers</h2>
<p class="gallerip text-center md:text-left  text-darkgreyblue-500 font-LivvicRegular text-18 md:text-18">Vi binder mange fine buketter hver dag, og her kan du få et lille indblik i hvordan buketterne kan se ud.</p>

<div class="grid px-5 pt-5 gap-5 md:grid-cols-4 md:grid-rows-3 md:gap-4 md:py-14">
<Image src={galleri1} alt='pige med buket' class="galleri1 h-80 md:h-[324px] md:w-[415px] object-cover rounded-3xl"/>
<Image src={galleri2} alt='buket' class="galleri2 h-80 md:h-[324px] md:w-[386px] object-cover rounded-3xl"/>
<Image src={galleri3} alt='pige med buket' class=" galleri3 h-80 md:h-[665px] md:w-[326px] object-cover rounded-3xl row-span-2"/>
<Image src={galleri4} alt='pige med buket' class=" galleri4 h-80 md:h-[324px] md:w-[389px] object-cover rounded-3xl"/>
<Image src={galleri5} alt='pige med buket' class=" galleri5 h-80 md:h-[667px] md:w-[306px] object-cover rounded-3xl row-span-2"/>
<Image src={galleri6} alt='pige med buket' class=" galleri6 hidden md:block md:h-[324px] md:w-[386px] object-cover rounded-3xl "/>
<Image src={galleri7} alt='buket' class=" galleri7 hidden md:block md:h-[324px] md:w-[373px] object-cover rounded-3xl"/>
<Image src={galleri8} alt='buket' class=" galleri8 hidden md:block md:h-[324px] md:w-[396px] object-cover rounded-3xl"/>
<Image src={galleri9} alt='pige med buket' class=" galleri9 hidden md:block md:h-[324px] md:w-[422px] object-cover rounded-3xl"/>
<Image src={galleri10} alt='pige med buket' class="galleri10 hidden md:block md:h-[324px] md:w-[373px] object-cover rounded-3xl"/>
</div>

</section>

<script>
    import { inView } from "motion";
    
    // Iterer over de 10 elementer og tilføj animation
    for (let i = 1; i <= 10; i++) {
        const element = document.querySelector(`.galleri${i}`);
        
        if (element) {
            inView(element, () => {
                element.classList.add("animate__animated", "animate__fadeInUp");
            });
        }
    }

    const elementmedanimation1 = document.querySelector(".gallerih2");
        
        inView(elementmedanimation1, () => {
        
        elementmedanimation1.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 

        const elementmedanimation2 = document.querySelector(".gallerip");
        
        inView(elementmedanimation2, () => {
        
        elementmedanimation2.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
    </script>
